@model SonsuzBilgiV2.Entities.DTOs.UserUpdateDto
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Profil Editle";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-edit"></span> Sexsi Melumatlar Deyis</h4>
            </div>
            <div class="card-body">
                <form asp-action="ChangeDetails" asp-controller="User" method="post" enctype="multipart/form-data" id="form-user-update">
                    <div asp-validation-summary="All" style="display:none;" class="text-danger" id="validation-summary">
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input type="text" class="form-control" asp-for="UserName" placeholder="Zəhmət Olmasa İstifadəçi Adı Yazın" />
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="email" class="form-control" asp-for="Email" placeholder="Zəhmət Olmasa Email Yazın" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Zəhmət Olmasa Nömrə Yazın" />
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture"></label>
                        <input type="hidden" asp-for="Picture" />
                        <img src="~/img/@Model.Picture" class="my-image" alt="@Model.UserName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureFile"></label>
                        <input type="file" accept="image/*" class="form-control-file" asp-for="PictureFile" />
                        <span class="text-danger" asp-validation-for="PictureFile"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-save"></span> Yadda Saxla</button>
                        <a class="btn btn-danger btn-block" asp-area="Admin" asp-action="Index" asp-controller="User" ><span class="fas fa-times"></span> Ləğv Et</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>